@model Core.web.Mvc.Authentication.Models.AccountViewModels.AccountGenericModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutUnAuth.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default m-t-10">
                <div class="panel-heading"><h3 class="text-center">Change Password</h3></div>
                <div class="panel-body col-sm-offset-1">

                    <div id="contentarea">
                        <div id="contentfluid">
                            <h2>@ViewBag.Title.</h2>
                            <div id="changepassleft">
                                <div id="changepassmain">

                                    @using (Html.BeginForm("ChangePassword", "account", FormMethod.Post, new { Area = "UserProfile" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        if (TempData["Success"] != null)
                                        {
                                            <div class="alert alert-success fade in">
                                                <button class="close" data-dismiss="alert">
                                                    <i class="fa-fw fa fa-check-circle"></i>
                                                </button>
                                                @TempData["Success"]
                                            </div>
                                        }
                                        if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-danger fade in">
                                                <button class="close" data-dismiss="alert">
                                                    <i class="fa-fw fa fa-times"></i>
                                                </button>
                                                @TempData["Error"]
                                            </div>
                                        }

                                        <div class="uploadinputs">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "" })
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        </div>
                                        <div class="uploadinputs">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "" })
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        </div>
                                        <div class="uploadinputs">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                        <div class="uploadinputs">
                                            <input type="submit" value="Change password" class="btn btn-default" />
                                        </div>
                                    }
                                    <br clear="all" />
                                </div>
                            </div>

                            <div id="changepassright">
                                <div id="changepassmain">
                                    <h3>Tips for securing your password</h3>
                                    <p>Avoid short passwords - choose something not less than 15 characters  Use a mix of characters - mix up letters (uppercase &amp; lowercase), numbers and  symbols.</p>
                                    <p>Avoid obvious words or substitutions - avoid common words or  combinations, such as 'Password', '1234' and substitutions such as 'D00RB3L'  for 'DOORBELL'.  </p>
                                    <p>Do NOT share your password - keep your password safe and do not share it  with any unauthorised parties.</p>
                                    <br clear="all" />
                                </div>
                            </div>
                        </div>
                        <br clear="all" />
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
