@model Core.web.Mvc.Authentication.Models.AccountViewModels.AccountRegistrationModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutUnAuth.cshtml";
    <style>

        /* custom css*/
        .btn-btn_f {
            background-color: #22398d !important;
            color: #fff;
        }
    </style>
}

<div class="page-content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default m-t-10">
                <div class="panel-heading"><h3 class="text-center">Create Account</h3></div>
                <div class="panel-body">

                    <section id="loginForm">
                        <div class="row">
                            <div class="col-md-3 hidden-xs">
                                <div class="text-center">
                                    <i class="fa fa-user-alt fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p class="text-muted font-13">
                                    Enter your details below.
                                </p>
                                @using (Html.BeginForm("Register", "account", FormMethod.Post, new { Area = "Authentication" }))
                                {
                                    @Html.AntiForgeryToken()
     
                                    <div class="row">
                                        <div>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-sm-8">
                                                <div class="form-group">

                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control required", placeholder = "FirstName", autocomplete = "off" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control required", placeholder = "LastName", autocomplete = "off" } })
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control required", placeholder = "Email",type="email", autocomplete = "off" } })
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control required", placeholder = "Password", autocomplete = "off" } })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        @Html.EditorFor(m => m.PasswordConfirm, new { htmlAttributes = new { @class = "form-control required", placeholder = "Password", autocomplete = "off" } })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div>
                                                    <div>
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    </div>
                                                    @if (TempData["Success"] != null)
                                                    {
                                                        <div class="alert alert-success fade in">
                                                            <button class="close" data-dismiss="alert">
                                                                <i class="fa-fw fa fa-check-circle"></i>
                                                            </button>
                                                            @TempData["Success"]
                                                        </div>
                                                    }
                                                    @if (TempData["Error"] != null)
                                                    {
                                                        <div class="alert alert-danger fade in">
                                                            <button class="close" data-dismiss="alert">
                                                                <i class="fa-fw fa fa-times"></i>
                                                            </button>
                                                            @TempData["Error"]
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-1 col-sm-8 text-right">
                                                <button type="submit" class="btn btn-btn_f btn-block left-icon"><i class="fa fa-sign-in"></i> Log in</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-12 login-disclaimer text-danger">
                                <a href="@Url.Action("login", "account")" style="color: #22398d;">
                                    Already have an account?<small><b>Login here</b></small>
                                </a>
                            </div>
                            <br />
                           
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <a href="https://www.linkedin.com/company/betsoftware/?originalSubdomain=za"><span> <i class="fa fa-linkedin fa-1x"></i>  </span> </a> &nbsp; <a href="#"><span><i class="fa fa-twitter fa-1x"></i> </span> </a> &nbsp; <a href="#" target="_blank"> <span><i class="fa fa-facebook fa-1x"></i> </span></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}