@using Core.Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

    <title>@DefaultSettings.Instance.ApplicationDisplayName | @ViewBag.Title</title>
    <link href="~/Content/css/imports.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/css/template.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/css/Site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Content/css/site.min.css" asp-append-version="true" />
    </environment>
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <!-- Primary Inspinia style -->
    @*@Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/animate.css" />
    <link rel="stylesheet" href="~/Content/style.css" />

    @*~/Scripts/plugins/jquery-ui/jquery-ui.min.css*@
    <link rel="stylesheet" href="~/Scripts/plugins/jquery-ui/jquery-ui.min.css" />

    @*// Font Awesome icons*@
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css" />
</head>
<body id="theBody" class="widescreen fixed-left" style="background-color: #ECEFF1;">
    <!-- Skin configuration box -->
    @*@await Html.PartialAsync("_SkinConfig")*@
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @await Html.PartialAsync("_Navigation")
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @await Html.PartialAsync("_TopNavbar")
            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @await Html.PartialAsync("_Footer")
        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @await Html.PartialAsync("_RightSidebar")
    </div>

    <environment include="Development">
        <script src="~/Content/lib/jquery/dist/jquery.js"></script>
        <script src="~/Content/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/Scripts/template.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)

</body>

</html>
